build/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Makefile
*.ninja
*.ninja_deps
*.ninja_log

.vs/
.vscode/
.idea/

*.suo
*.user
*.userosscache
*.sln
*.vcxproj*
*.filters
*.dir
*.pdb
*.ilk
*.ipch
*.tlog
*.obj
*.log

.DS_Store
Thumbs.db
